<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid brand-block">
        <a class="navbar-brand" href="">QsoRipper</a>
        <div class="brand-subtitle">Debug Workbench</div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Overview
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="engine">
                Engine Session
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="protobuf-lab">
                Protobuf Lab
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup-workbench">
                Callsign Lookup
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="storage-workbench">
                Storage Workbench
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logbook-interop">
                ADIF &amp; Sync
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rig-control">
                Rig Control
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="qso-viewer">
                QSO Viewer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="commands">
                Commands & Tests
            </NavLink>
        </div>
    </nav>
</div>
